---
title: "Color Palette"
---

p.intro Color combinations derived from the logo blue


div.colors--palette
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
  <div>
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
  </div>
