div.container.content-template-container
  button(data-toggle="button", aria-controls="content-template", aria-pressed="false") Content Template

  div#content-template(aria-expanded="false")
    != partial("../content_template/research")



