extends _base

block main
  != partial('_nav')

  main

    != partial("content_template/_show")

    .content

      block content
        != yield


    aside
      - var path = current.path[0]

      if path == 'about'
        != partial('/about/_nav')
      else if path == 'summer_academy'
        != partial('/summer_academy/_nav_curriculum')
        != partial('/summer_academy/_nav_sessions')
      else if path == 'teacher_development_institute'
        != partial('teacher_development_institute/_nav')
      else if path == 'resources'
        != partial('resources/_nav')
      else if path == 'scholarships'
        != partial('scholarships/_nav')
