mixin nav_item(page)
  - var url = page.split(" ").join("_")

  li(class="#{ current.path[0] == page ? 'active' : '' }")
    a(href="/#{ url }") #{ page }

mixin nav_list(type, modifier)
  ul(class="nav nav-#{ modifier }")
    for page in type
      +nav_item(page)


nav.nav.main-nav

  +nav_list(site, "site")
  +nav_list(programs, "programs")
  +nav_list(utility, "utility")
