h1 Scholarship Program


!= partial('content/overview')

div.section
  h1 Scholaship Recipients

  for recipient, year in public.scholarships._data.index
    h2= year

    ol(class="list-group")

      for key, value in recipient
        li(class="list-group-item")
          article(class="publication")
            header.post-header
              h2= key.name
              p= key.school
              p= key.type

