h1 Research

div.panel.panel-default
  div.panel-body
    | Introduction to research at MACILE

div.section
  h1 Publications

  ol(class="list-group")
  for article, slug in public.research._data.pubs
    li(class="list-group-item")
      article(class="publication")
        h2
          a(href="/research/content/#{ slug }")= article.title
        if article.authors
          p By
            for author in article.authors
             span  #{ author }
        time #{ article.date }

//- - var post = public.research._data.pubs.foo;
//- - post.yield = partial("foo");
//- != partial("_publication", post)
