// Config
// ------

$colors: (
  'blue': hsl(258, 91%, 17%),
  'gold': hsl(42, 100%, 37%),

  'base': 'blue',

  'purple': 'base' (adjust-hue: 33),
  'olive green': 'base' (adjust-hue: -180, lighten: 10%),
  'green': 'base' (adjust-hue: -123, desaturate: 10%, lighten: 17%),
  'yellow': 'base' (adjust-hue: -200, lighten: 14%),

  'black': 'base' (desaturate: 70%, darken: 20%),
  'gray': 'base' (adjust-hue: -25, desaturate: 70%, lighten: 55%),
  'white': #fff,
);

// Tints/shades
$variants: (
  lightest: (tint: 75%),
  lighter: (tint: 50%),
  light: (tint: 25%),
  dark: (shade: 25%),
  darker: (shade: 50%),
  darkest: (shade: 75%),
);

// Colors
// ------
// Add colors to a pallette
@mixin colors(
  $map
) {
  $colors: map-merge($colors, $map) !global;
}


// Color
// -----
// Access your color pallette
@function color($color) {
  // Parse arguments
  $color: map-get($colors, $color) or $color;
  $base: nth($color, 1);
  $adjust: if(length($color) > 1, nth($color, 2), ());

  // Recursive check
  $color: if(map-has-key($colors, $base), color($base), $base);

  // Adjustments
  // @each $function, $values in $adjust {
  //   @if function-exists($function) {
  //     $color: call($function, $color, $values...)
  //   } @else {
  //     @warn "#{$function} is not a valid color function.";
  //   }
  // }

  @return $color;
}


// Contrast
// --------
@function contrast($color) {
  @return contrast-color(color($color));
}

// Output
// ------

// .colors--palette {
// div {
//   box-sizing: border-box;
//   float: left;
//   width: 50%;
// }

// $i: 0;
// @each $name, $color in $colors {
//   $i: $i + 1;
//   div:nth-child(#{$i}) {
//     background: color($name);
//     color: contrast($name);
//     padding: 1rem;
//     text-align: center;

//     &:before {
//       content: '#{$name} » #{color($name)}';
//       display: block;
//       margin-bottom: .25rem;
//       text-transform: uppercase;
//     }

//     $n: 0;
//     @each $var, $map in $variants {
//       $n: $n + 1;
//       span:nth-child(#{$n}) {
//         background: color($name $map);
//         color: contrast($name $map);
//         display: inline-block;
//         padding: 1rem;

//         &:before {
//           content: '#{$var}';
//           display: block;
//         }

//         &:after {
//           content: '#{color($name $map)}';
//         }
//       }
//     }
//   }
// }

// }
